<!-- create veículo -->
<div class="modal fade" id="md_cadastra_veiculo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cadastre o veículo abaixo.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="sessao--form--cadastro"> 
                <form id="form--cadastro" class="col-md-12">
                        <<div class="row">
                            <div class="col-md-3">
                                <label> Veículo <label>
                                <input id="cadastro_veiculo" name="veiculo" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <label> Marca <label>
                                <input id="cadastro_marca" name="marca" class="form-control"  list="autocomplete_marca"  onblur='validate_marca(this)' >
                            </div>
                            <div class="col-md-2">
                                <label> Ano <label>
                                <input id="cadastro_ano" name="ano" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <label> Descrição <label>
                                <input id="cadastro_descricao" name="descricao" class="form-control" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label> Vendido <label>
                                    <select  id="cadastro_vendido" class="form-control" name="vendido">
                                    <option value="">  </option>
                                    <option value="true"> Sim </option>
                                    <option value="false"> Não </option>
                                    </select>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btn-cadastrar-veiculo" type="button" class="btn btn-success" onclick="cadastrar_veiculo()">  Cadastrar </button>
        </div>
        </div>
    </div>
</div>

<!--  update veículo -->
<div class="modal fade" id="md_atualiza_veiculo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Atualize o veículo abaixo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="sessao--form--atualiza"> 
                <div class='sessao-form-campos-ocultos'>
                    <input id="atualiza_pk" name="pk" class="form-control" type="hidden" >
                </div>
                <div class="row">
                    <form id="form--atualiza" class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label> Veículo <label>
                                <input id="atualiza_veiculo" name="veiculo" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <label> Marca <label>
                                <input id="atualiza_marca" name="marca" class="form-control"  list="autocomplete_marca"  onblur='validate_marca(this)' >
                            </div>
                            <div class="col-md-2">
                                <label> Ano <label>
                                <input id="atualiza_ano" name="ano" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <label> Descrição <label>
                                <input id="atualiza_descricao" name="descricao" class="form-control" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label> Vendido <label>
                                    <select  id="atualiza_vendido" class="form-control" name="vendido">
                                    <option value="">  </option>
                                    <option value="true"> Sim </option>
                                    <option value="false"> Não </option>
                                    </select>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btn-atualizar" type="button" class="btn btn-warning text-white" onclick="atualizar_veiculo()" >Atualizar</button>
        </div>
        </div>
    </div>
</div>